<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.model.references.definition.ext">
      <client
            Id="Hawk Client"
            class="org.hawk.emf.emfsplitter.HawkCrossReferences">
      </client>
   </extension>
   <extension
         point="org.mondo.generate.index.project.indexattribute">
      <client
            Id="uk.ac.york.mondo.integration.hawk.emf.emfsplitter.clientAttrIndexer"
            class="org.hawk.emf.emfsplitter.HawkCrossReferences">
      </client>
   </extension>
   <extension
         point="org.model.constraint.execution.definition.ext">
      <client
            Id="Execute_Constraints_Using_Hawk"
            class="org.hawk.emf.emfsplitter.HawkCrossReferences">
      </client>
   </extension>

</plugin>
